{% assign product_image_size = '800x' %}
{% assign custom_fields = product.metafields.custom_fields %}
{% assign text_field_json_front = custom_fields["text_field_json_front"] | default: "{}" %}
{% assign text_field_json_back = custom_fields["text_field_json_back"] | default: "{}" %}
<div class="product-preview-container">
    <div class="image-preview-container">
      {% for text_field in text_field_json_front %}
        <div class="product-preview-text-container"
             id="container-{{ text_field["field-id"] }}"
             width="{{ text_field['width'] }}"
             height="{{ text_field['height'] }}"
             left="{{ text_field['position-x'] }}"
             top="{{ text_field['position-y'] }}"
             color="{{ text_field['font-color'] }}"
             text-transform="{{ text_field['text-transform'] }}"
             font-family="{{ text_field['font-family'] }}">
          <span class="product-preview-text" id="field-{{ text_field["field-id"] }}"></span>
        </div>
      {% endfor %}
      <img class="preview-img" src="{{ front_preview_img | img_url: product_image_size }}" alt="{{ front_preview_img.alt | escape }}">
    </div>
    <div class="image-preview-container">
      {% for text_field in text_field_json_back %}
        <div class="product-preview-text-container"
             id="container-{{ text_field["field-id"] }}"
             width="{{ text_field['width'] }}"
             height="{{ text_field['height'] }}"
             left="{{ text_field['position-x'] }}"
             top="{{ text_field['position-y'] }}"
             color="{{ text_field['font-color'] }}"
             text-transform="{{ text_field['text-transform'] }}"
             font-family="{{ text_field['font-family'] }}">
          <span class="product-preview-text" id="field-{{ text_field["field-id"] }}"></span>
        </div>
      {% endfor %}
      <img class="preview-img" src="{{ back_preview_img | img_url: product_image_size }}" alt="{{ back_preview_img.alt | escape }}">
    </div>
</div>